<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
	<!-- 验证用户 -->
	<select id="login"  resultType="Tuser" parameterType="Tuser">
		select * from teacher where tno =  #{tno} and tpasswd = #{tpasswd}
	</select>
	
</mapper>