<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <typeAliases>
        <typeAlias alias="Tuser" type="com.po.Tuser"/>
        <typeAlias alias="Pchievement" type="com.po.Pchievement"/>
        <typeAlias alias="Achievements" type="com.po.Achievements"/>
        <typeAlias alias="Paper" type="com.po.Paper"/>
        <typeAlias alias="Patent" type="com.po.Patent"/>
        <typeAlias alias="Project" type="com.po.Project"/>
        <typeAlias alias="Wmaterial" type="com.po.Wmaterial"/>
        <typeAlias alias="Auser" type="com.po.Auser"/>
     </typeAliases>
	 <mappers>
        <mapper resource="com/mybatis/before/UserMapper.xml"/>
        <mapper resource="com/mybatis/before/UserCenterMapper.xml"/>
        <mapper resource="com/mybatis/before/IndexMapper.xml"/>
        <mapper resource="com/mybatis/before/RegisterMapper.xml"/>
        <mapper resource="com/mybatis/admin/AdminMapper.xml"/>
        <mapper resource="com/mybatis/admin/AdminMainMapper.xml"/>
 	</mappers>
</configuration>

